<!DOCTYPE html>
<html lang="cen">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kino Leather</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('header'); -%>

        <h1>Items</h1>
        <% items.forEach(function(item) { %>
        <p>name: <span><%- item.name %></span> size: <span><%- item.size %></span> category: <span><%- item.type %></span> price: <span><%- item.price %></span></p>
        <% }); %>
    </body>
</html>
