<!DOCTYPE html>
<html lang="cen">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kino Leather</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        <main>
            <%- include('header'); -%>
            
        <h1>Items</h1>
        <% if(items) { %>
        <% items.forEach(function(item) { %>
        <p>name: <span><%= item.name %></span> color: <span><%= item.color %></span> size: <span><%= item.size %></span> category: <span><%= item.type %></span> price: <span><%= item.price %></span><a href="items/<%= item.item_id %>">EDIT</a>
        <form action="items/delete/<%= item.item_id %>" method="POST" >
           <button type="submit">DELETE</button> 
        </form>
        </p>
        <% }); %>
        <% } %>
        <h2>Add an item</h2>
        <form action="items" method="POST">
            <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required>
            </div>
            <div>
            <label for="color">Color: </label>
            <input type="text" name="color" id="color" required>
            </div>
            <div>
            <label for="size">Size: </label>
            <input type="number" name="size" id="size" required>
            </div>
            <div>
            <label for="price">Price: </label>
            <input type="number" step="0.01" name="price" id="price" required>
            </div>
            <div>
            <label for="category-select">Category: </label>
                <select name="category" id="category-select" required>
                    <option value="">--Please choose an option</option> 
                    <% categories.forEach(function(category) { %>
                    <option value=<%= category.category_id %>><%= category.type %></option> 
                   <% }); %>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
        </main>
    </body>
</html>
